.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task-inputs {
  display: flex;
  flex-direction: column; /* stack items */
  gap: 12px; /* space between inputs */
  margin-bottom: 5%;
}

label {
  display: flex;
  /* flex-direction: column; */
  font-weight: bold;
}

label > * {
  margin-left: 10px; 
  font-weight: normal;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}